In [733]:
import pandas as pd
import numpy as np

In [734]:
df=pd.read_csv("users_analysis.csv")

In [735]:
df.columns

Index(['_id', 'bio', 'college', 'country', 'createdAt', 'dob', 'email',
       'face_detection_probabilities', 'gender', 'height', 'insta_username',
       'interests', 'is_habit_drink', 'is_habit_smoke', 'is_verified',
       'mobile', 'name', 'status', 'type', 'updatedAt', 'verified_at',
       'what_to_find', 'who_to_date', 'is_subscribed', 'age', 'liked_counts',
       'disliked_counts', 'Score'],
      dtype='object')

In [736]:
df.shape

(50, 28)

In [737]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['gender']=le.fit_transform(df['gender'])
df['is_habit_drink']=le.fit_transform(df['is_habit_drink'])
df['is_habit_smoke']=le.fit_transform(df['is_habit_smoke'])
df['is_verified']=le.fit_transform(df['is_verified'])
df['who_to_date']=le.fit_transform(df['who_to_date'])
df['is_subscribed']=le.fit_transform(df['is_subscribed'])
df.fillna(-1, inplace=True)

In [738]:
x=df.drop(['_id','college','bio','country','dob','email','updatedAt','face_detection_probabilities','insta_username','verified_at','interests','mobile','name','status','type','what_to_find','liked_counts','disliked_counts','Score'],axis=1)

In [739]:
y=df['Score']

In [740]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.3,random_state=0)

In [741]:
x_test.shape

(35, 9)

In [742]:
x

,createdAt,gender,height,is_habit_drink,is_habit_smoke,is_verified,who_to_date,is_subscribed,age
0,617.065488,1,175.00,0,0,0,1,0,21.0
1,616.716198,1,177.00,0,0,0,1,0,24.0
2,616.495703,0,175.00,0,0,0,2,0,22.0
3,616.376091,1,177.00,0,0,0,1,0,23.0
4,614.879980,1,165.00,2,2,0,1,0,21.0
5,614.315053,1,187.00,2,2,0,1,0,23.0
6,614.056678,1,176.00,0,0,0,1,0,19.0
7,613.464364,0,156.00,2,2,0,2,0,23.0
8,612.247497,1,188.00,2,0,0,1,0,21.0
9,611.916056,1,176.00,0,0,0,1,0,19.0
10,606.016597,1,182.00,1,1,0,1,0,22.0
11,599.990776,1,169.00,2,0,0,1,0,20.0
12,584.434701,1,168.00,0,0,0,1,0,21.0
13,583.445331,1,166.00,0,2,0,1,0,22.0
14,583.212099,1,176.00,0,0,0,1,0,24.0
15,582.539883,1,177.00,0,0,0,1,0,21.0
16,582.338148,1,165.00,2,0,0,1,0,24.0
17,581.818380,1,166.00,0,0,0,1,0,24.0
18,581.774321,1,168.00,1,1,0,1,0,23.0
19,581.735876,1,162.00,2,2,0,1,0,21.0
20,581.608245,1,166.00,0,0,0,1,0,35.0
21,581.187824,1,165.00,1,1,0,1,0,30.0
22,581.180925,1,172.00,2,2,0,1,0,21.0
23,581.132483,1,174.00,2,2,0,1,0,23.0
24,580.969667,1,166.00,2,0,0,1,0,28.0
25,580.839504,1,167.00,0,0,0,1,0,22.0
26,580.496340,1,168.00,2,2,0,1,0,22.0
27,580.411585,1,167.00,0,0,0,1,0,21.0
28,580.410351,1,162.00,0,0,0,1,0,22.0
29,580.303272,1,167.00,2,2,0,1,0,22.0
30,580.164356,1,183.00,0,0,0,1,0,23.0
31,580.076362,1,178.00,2,0,0,1,0,19.0
32,580.009753,1,179.00,2,2,0,1,0,29.0
33,579.936519,1,175.00,2,2,0,1,0,21.0
34,579.914071,1,168.00,2,2,0,1,0,24.0
35,579.869648,1,166.00,2,2,0,1,0,29.0
36,579.532625,1,176.00,0,2,0,1,0,19.0
37,578.654193,0,150.00,0,0,0,0,0,24.0
38,545.793968,0,160.00,0,0,0,2,0,23.0
39,443.674371,0,160.00,0,0,0,2,0,19.0
40,443.207582,0,157.00,2,0,0,2,0,20.0
41,442.573208,0,160.00,0,0,0,2,0,21.0
42,441.706978,0,175.00,0,0,0,1,0,21.0
43,441.630930,0,169.00,0,2,0,2,0,19.0
44,441.214915,0,170.00,3,3,0,2,0,19.0
45,437.305050,0,162.56,0,0,0,2,0,20.0
46,419.108547,0,158.00,0,0,0,0,0,21.0
47,374.272891,0,158.00,0,0,0,2,0,19.0
48,182.374696,0,158.00,0,0,0,2,0,19.0
49,100.956293,0,150.00,0,0,0,2,0,22.0

In [743]:
x_test

,createdAt,gender,height,is_habit_drink,is_habit_smoke,is_verified,who_to_date,is_subscribed,age
28,580.410351,1,162.00,0,0,0,1,0,22.0
11,599.990776,1,169.00,2,0,0,1,0,20.0
10,606.016597,1,182.00,1,1,0,1,0,22.0
41,442.573208,0,160.00,0,0,0,2,0,21.0
2,616.495703,0,175.00,0,0,0,2,0,22.0
27,580.411585,1,167.00,0,0,0,1,0,21.0
38,545.793968,0,160.00,0,0,0,2,0,23.0
31,580.076362,1,178.00,2,0,0,1,0,19.0
22,581.180925,1,172.00,2,2,0,1,0,21.0
4,614.879980,1,165.00,2,2,0,1,0,21.0
33,579.936519,1,175.00,2,2,0,1,0,21.0
35,579.869648,1,166.00,2,2,0,1,0,29.0
26,580.496340,1,168.00,2,2,0,1,0,22.0
34,579.914071,1,168.00,2,2,0,1,0,24.0
18,581.774321,1,168.00,1,1,0,1,0,23.0
7,613.464364,0,156.00,2,2,0,2,0,23.0
14,583.212099,1,176.00,0,0,0,1,0,24.0
45,437.305050,0,162.56,0,0,0,2,0,20.0
48,182.374696,0,158.00,0,0,0,2,0,19.0
29,580.303272,1,167.00,2,2,0,1,0,22.0
15,582.539883,1,177.00,0,0,0,1,0,21.0
30,580.164356,1,183.00,0,0,0,1,0,23.0
32,580.009753,1,179.00,2,2,0,1,0,29.0
16,582.338148,1,165.00,2,0,0,1,0,24.0
42,441.706978,0,175.00,0,0,0,1,0,21.0
20,581.608245,1,166.00,0,0,0,1,0,35.0
43,441.630930,0,169.00,0,2,0,2,0,19.0
8,612.247497,1,188.00,2,0,0,1,0,21.0
13,583.445331,1,166.00,0,2,0,1,0,22.0
25,580.839504,1,167.00,0,0,0,1,0,22.0
5,614.315053,1,187.00,2,2,0,1,0,23.0
17,581.818380,1,166.00,0,0,0,1,0,24.0
40,443.207582,0,157.00,2,0,0,2,0,20.0
49,100.956293,0,150.00,0,0,0,2,0,22.0
1,616.716198,1,177.00,0,0,0,1,0,24.0

In [744]:
y

0     21.336364
1     21.025000
2     20.389076
3     21.650000
4     20.883673
5     23.900000
6     19.618182
7     18.326316
8     23.117647
9     21.133333
10    21.733333
11    20.433333
12    20.333333
13    20.550000
14    24.942857
15    22.445455
16    22.700000
17    19.300000
18    22.000000
19    20.150000
20    24.300000
21    20.700000
22    19.400000
23    19.600000
24    21.800000
25    22.614286
26    19.500000
27    21.900000
28    18.622222
29    17.809091
30    21.833333
31    22.117647
32    21.433333
33    22.144444
34    20.333333
35    19.300000
36    20.022222
37    20.560231
38    20.073016
39    21.791837
40    22.813043
41    20.737445
42    22.851515
43    22.725000
44    23.866667
45    23.094655
46    20.255319
47    21.478723
48    20.786325
49    19.416867
Name: Score, dtype: float64

In [745]:
y_test

28    18.622222
11    20.433333
10    21.733333
41    20.737445
2     20.389076
27    21.900000
38    20.073016
31    22.117647
22    19.400000
4     20.883673
33    22.144444
35    19.300000
26    19.500000
34    20.333333
18    22.000000
7     18.326316
14    24.942857
45    23.094655
48    20.786325
29    17.809091
15    22.445455
30    21.833333
32    21.433333
16    22.700000
42    22.851515
20    24.300000
43    22.725000
8     23.117647
13    20.550000
25    22.614286
5     23.900000
17    19.300000
40    22.813043
49    19.416867
1     21.025000
Name: Score, dtype: float64

In [746]:
from sklearn.tree import DecisionTreeRegressor

# Build decision tree
model=DecisionTreeRegressor(max_depth=1)

In [747]:
model.fit(x_train,y_train)
model.predict(x_test)

array([20.74496744, 20.74496744, 20.74496744, 20.74496744, 20.74496744,
       20.74496744, 20.74496744, 20.74496744, 20.74496744, 20.74496744,
       20.74496744, 20.74496744, 20.74496744, 20.74496744, 20.74496744,
       20.74496744, 20.74496744, 20.74496744, 20.74496744, 20.74496744,
       20.74496744, 20.74496744, 20.74496744, 20.74496744, 20.74496744,
       20.74496744, 20.74496744, 20.74496744, 20.74496744, 20.74496744,
       20.74496744, 20.74496744, 20.74496744, 20.74496744, 20.74496744])

In [748]:
x_train.iloc[0]

createdAt         584.434701
gender              1.000000
height            168.000000
is_habit_drink      0.000000
is_habit_smoke      0.000000
is_verified         0.000000
who_to_date         1.000000
is_subscribed       0.000000
age                21.000000
Name: 12, dtype: float64

In [749]:
y_train.iloc[0]

20.33333333333333

In [750]:
res = model.predict([[576.987145,1.000000,166.000000,0.000000,0.000000,0.000000,1.000000,0.000000,23.000000]])

c:\Users\Mihir\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [751]:
res[0]

20.744967441347864

In [752]:
target_score = res[0]

# calculate the difference between the score column and target_score
df['score_diff'] = abs(df['Score'] - target_score)

# sort the DataFrame based on the score difference
df_sorted = df.sort_values(by='score_diff')

# get the top 10 rows where score is close to target_score
result = df_sorted.head(10)

# drop the score_diff column from the result
result = result.drop(columns='score_diff')

# print the result
print(result)

     _id                                                bio  \
41   984  I am so glad I right-swiped on you(Me)  Fu...
48  1337                                   talk and explore
21   231                                 hi i am simple boy
4      7                            Joyfull, Fun loving guy
37   404  I am just looking for some good company, those...
13   128                             Insta:- @vijay_jatav11
1      1                                Let's go on a date.
11    90                Have many things to tell u later...
2      2                                        Loving life
9     17  Insta - ayushrajput237\r\nI am someone whom yo...

                            college country   createdAt                  dob  \
41          ["Lakshmi Bai College"]      IN  442.573208  2002-12-28 00:00:00
48                ["Miranda House"]      IN  182.374696  2004-06-01 00:00:00
21                          ["Jnu"]      IN  581.187824  1993-10-05 00:00:00
4   ["Jawaharlal Nehru University"]      IN  614.879980  2002-02-16 00:00:00
37  ["Jawaharlal Nehru University"]      IN  578.654193  1999-08-13 00:00:00
13                          ["Jnu"]      IN  583.445331  2001-04-14 00:00:00
1                     ["Heritage "]      IN  616.716198  1999-02-26 00:00:00
11                          ["JNU"]      IN  599.990776  2003-10-19 00:00:00
2   ["Jawaharlal Nehru University"]      IN  616.495703  2001-01-08 00:00:00
9   ["Jawaharlal Nehru University"]      IN  611.916056  2004-12-20 00:00:00

                   email                       face_detection_probabilities  \
41  9984000000@get.idyll  [90.62782526016235,98.15586805343628,97.502690...
48  9133700000@get.idyll              [90.67346453666687,69.34019178152084]
21  9231000000@get.idyll                                                 []
4   9700000000@get.idyll  [95.65495252609253,91.10906720161438,97.783011...
37  9404000000@get.idyll                                                 []
13  9128000000@get.idyll                                                 -1
1   9100000000@get.idyll                                                 []
11  9900000000@get.idyll                                                 -1
2   9200000000@get.idyll                                [88.67224454879761]
9   9170000000@get.idyll                                                 []

    gender  height  ...  type  updatedAt  verified_at  what_to_find  \
41       0   160.0  ...     U   9.507319     9.507320            NS
48       0   158.0  ...     U   7.480080     7.480081            -1
21       1   165.0  ...     U   7.468317     7.468317             F
4        1   165.0  ...     U   6.082665     9.639677            NS
37       0   150.0  ...     U  17.340092    17.340093             F
13       1   166.0  ...     U   9.634793     9.634793             F
1        1   177.0  ...     U  11.180204    11.184489             C
11       1   169.0  ...     U  24.984095    -1.000000             C
2        0   175.0  ...     U  18.495840    -1.000000             R
9        1   176.0  ...     U  17.340092    17.340093            NS

    who_to_date  is_subscribed   age  liked_counts disliked_counts      Score
41            2              0  21.0         103.0           124.0  20.737445
48            2              0  19.0          56.0            61.0  20.786325
21            1              0  30.0           2.0             3.0  20.700000
4             1              0  21.0          41.0            57.0  20.883673
37            0              0  24.0         186.0           161.0  20.560231
13            1              0  22.0           3.0             5.0  20.550000
1             1              0  24.0           5.0            11.0  21.025000
11            1              0  20.0           1.0             2.0  20.433333
2             2              0  22.0          64.0           174.0  20.389076
9             1              0  19.0           4.0             8.0  21.133333

[10 rows x 28 columns]

In [753]:
result['Score']

41    20.737445
48    20.786325
21    20.700000
4     20.883673
37    20.560231
13    20.550000
1     21.025000
11    20.433333
2     20.389076
9     21.133333
Name: Score, dtype: float64

In [754]:
result['Score'].sort_values()

2     20.389076
11    20.433333
13    20.550000
37    20.560231
21    20.700000
41    20.737445
48    20.786325
4     20.883673
1     21.025000
9     21.133333
Name: Score, dtype: float64

In [757]:
model.score(x_train, y_train)

0.5329908646124342

In [755]:
df['Score'].min()

17.80909090909091

In [756]:
df['Score'].max()

24.942857142857143